body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container{
    height:  100%;
    aspect-ratio: 1 / 1;

    position:fixed;
    right: auto;
    left: auto;
    background-color: #7c5b3f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 850px) {
.container{
    width:  100%;
    aspect-ratio: 1 / 1;
    justify-content: start;
}
.board{
    margin-top: 50px;
}
}
.images{
    width: 90%;
}
.board{
    width: 90%;
    aspect-ratio: 1 / 1;
    background-color: black;
    display: grid;
    grid: 8;
    grid-template-columns:  12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    aspect-ratio: 1 / 1;
    border:  1px solid white;
}
.light{
    background-color: #f0d9b5;
}
.dark{
    background-color: #b58863;

}
.filled{
    cursor: pointer;
}

.flipped {
  transform: rotate(180deg);
}
.image-flipped {
  transform: rotate(180deg);
}